<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blogs/prism_dark.css' %}">
        <link rel="stylesheet" href="{% static 'blogs/base.css' %}?{% now 'U' %}">
        <script src="{% static 'blogs/prism.js' %}"></script> 
        <script>
            function emailBtn(){
                // var htag = document.getElementById('test')
                // console.log(htag)
                // htag.innerHTML = js_variable
                // htag.setAttribute('style', 'color:red')
                // js_variable = 5


                // fetch('/emailFunc')
                // .then(r => console.log(r.text()))
            }
        </script>
        
        
    </head>
    <body>
        <header>header</header>
        {% block content %}
        {% endblock %}
        <footer>footer</footer>
    </body>

</html>